.navbar {
border: none; 
display: inline-table; 
width: 100%; 
border-radius:0; 
position: fixed; 
top: 0; z-index: 
10; border-bottom: 
1px solid rgba(255,255,255,.15) 
}

nav .container { 
display: table-cell; 
height: 75px; 
position: relative; 
vertical-align: middle; 
}

nav.shrink .container {
height: 60px;
}

.sidebar-nav { 
width: 250px; height: 100%
}

.sidebar-nav .navbar-header {
background: none
}

.sidebar-nav .navbar-nav li {
width: 100%; 
padding: 15px 0; 
border-bottom: 1px solid rgba(0,0,0,.1); 
margin: 0
}

.sidebar-nav .navbar-nav li:last-child {
border-bottom: none
}

.sidebar-nav .navbar-nav li a {
color: #000 !important; 
padding: 0 0 0 15px !important; 
font-weight: 600; 
border-bottom: none
}

.sidebar-nav .navbar-nav li a:before { 
content: ""; 
left: -1px; 
position: absolute; 
top: 9px; 
border-bottom: 2px solid #ef106e; 
width: 6px; 
transition-duration: .6s;
}

.sidebar-nav .navbar-nav li a:hover:before, .sidebar-nav .navbar-nav li.active a:before {
width: 130px; 
border-bottom: 1px solid #ef106e;
}
